@import './base.css';
::-webkit-scrollbar{
  width: 8px;
  height: 12px;
}
::-webkit-scrollbar-thumb{
  background-color: #b89601;
  border-radius: 6px;
}
::-webkit-scrollbar-track{
  background-color: #1d1d1d;
  border-radius: 6px;
}
body{
  background-color: rgb(1, 15, 14);
  color:aliceblue;
  max-width: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
}
